// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  list-style-type:none;
}

h1 {
  margin-left: 10px;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  padding: 10px;
}

#task_detail {
  background-color: #F1EFF0;
  border-radius: 5px;
  padding: 20px 20px;
  width: 400px;
  border: 1px solid #D8D8D7;
}

.form {
  display: flex;
  justify-content: center;
}
